body {
  padding-top: 50px;
}


.jumbotron {
	margin-top: 30px;
	background:url('../images/Berlin.jpg') no-repeat;
	height: 500px;
	color: white;
	border-radius: 0 !important;
}

footer {
	background: #f4f4f4;
	height: 40px;
	text-align: center;
	margin-top: 30px;
	padding-top: 10px;
	overflow: auto;
}
